---
BasedOnStyle: Mozilla
IndentWidth: '4'
---
Language: Cpp
AccessModifierOffset: -4
AlignAfterOpenBracket: DontAlign
AlignConsecutiveDeclarations: 'false'
AlignEscapedNewlines: Left
AlignOperands: 'false'
AlignTrailingComments: 'true'
AllowAllArgumentsOnNextLine: 'true'
AllowShortBlocksOnASingleLine: 'false'
AllowShortCaseLabelsOnASingleLine: 'false'
AllowShortFunctionsOnASingleLine: InlineOnly
AllowShortIfStatementsOnASingleLine: 'false'
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: 'false'
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakBeforeMultilineStrings: 'false'
BinPackParameters: 'false'
BraceWrapping:
  AfterClass:       true
  AfterControlStatement: true
  AfterEnum:        true
  AfterFunction:    true
  AfterNamespace:   false
  AfterObjCDeclaration: true
  AfterStruct:      true
  AfterUnion:       true
  BeforeCatch:      true
  BeforeElse:       true
# clang-format 11
#  BeforeLambdaBody: true
  IndentBraces:     false
BreakBeforeBraces: Custom
#BreakBeforeBraces: Allman
BreakBeforeInheritanceComma: 'false'
ConstructorInitializerAllOnOneLineOrOnePerLine: 'true'
BreakConstructorInitializers: AfterColon
ConstructorInitializerIndentWidth: '4'
ContinuationIndentWidth: 4
ColumnLimit: '0'
Cpp11BracedListStyle: 'false'
CompactNamespaces: true
IndentCaseLabels: 'false'
IncludeBlocks: Preserve
NamespaceIndentation: None
PointerAlignment: Left
SortIncludes: 'false'
SortUsingDeclarations: 'false'
SpaceAfterCStyleCast: 'false'
SpaceAfterTemplateKeyword: 'false'
SpaceBeforeParens: ControlStatements
SpaceBeforeCpp11BracedList: 'false'
SpacesInParentheses: 'false'
SpacesInSquareBrackets: 'false'
TabWidth: '4'
UseTab: Never

...
