# Output directories
Debug
Release
RelNoProfiling
Debug Static
Release Static
ipch
bin
obj
*.autosave
.vs
.codelite
.build-debug
.build-release
*.exe
*.dll
*.ilk
*.pbd
*.cso
*.obj
*.ini
*.key
*.old
*.tlog
*.exp
*.lib
*.res
*.cache
*.layout
*.7z
*.zip
*.mak
*.a
*.mk

# Precompiled header files
*.gch/
*.pch/
*.pch.*
*.pch
*.gch

compile_commands.json
compile_flags.txt

# QtCreator
*.creator.user.*
sql.cflags
sql.config
sql.creator
sql.cxxflags
sql.files
sql.includes

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak
Thumbs.db
.directory
*.opendb
*.db
/*.dll
*.user
*.pak
*cppcheck*
*.depend

*.crt
*.key
*.csr
*.cer
*.pvk

build/*
build-*
Design/*
Tools/*
Doc/*
gtkdbgclient/*

backup.cmd
*.pdb
*.idb
/STUFF.md
