# Output directories
Debug
Release
RelNoProfiling
Debug Static
Release Static
ipch
bin
Bin
.autosave
.vs
.codelite
.build-debug
.build-release
*.exe
*.dll
*.ilk
*.pbd
*.cso
*.obj
*.ini
*.key
*.old
*.tlog
*.exp
*.lib
*.res
*.cache
*.layout
*.7z
*.zip
*.mak
*.a
*.mk
Makefile

# Precompiled header files
*.gch/
*.pch/
*.pch.*
*.pch
*.gch

compile_commands.json
compile_flags.txt

# codelite object list
abclient/abclient.txt
abdata/abdata.txt
abdb/abdb.txt
abfile/abfile.txt
ablb/ablb.txt
ablogin/ablogin.txt
abmsgs/abmsgs.txt
absadmin/absadmin.txt
abscommon/abscommon.txt
abserv/abserv.txt
absmath/absmath.txt
libabclient/libabclient.txt
keygen/keygen.txt
Tests/Tests.txt
ThirdParty/PugiXml/pugixml.txt
ThirdParty/abcrypto/abcrypto.txt
ThirdParty/libless/libless.txt
ThirdParty/recastnavigation/DebugUtils.txt
ThirdParty/recastnavigation/Detour.txt
ThirdParty/recastnavigation/Recast.txt
ThirdParty/sqlite3/sqlite3.txt
ThirdParty/lz4/lz4.txt

# Misc.
configure*
*~
*.swp
.DS_Store
*.log
*.bak
Thumbs.db
.directory
*.opendb
*.db
/*.dll
*.user
*.pak
*cppcheck*
*.depend

*.crt
*.key
*.csr
*.cer
*.pvk

build/*
Design/*
Tools/*
Doc/*

TODO.md
backup.cmd
*.pdb
*.idb
/STUFF.md
/clocall.bat
